#dashboard-home {
    background-color: rgb(27, 38, 53) !important;
}

.dashboard-home .MuiPaper-root{
    background-color: rgb(35, 48, 68) !important;
}

body {
    background-color: rgb(27, 38, 53) !important;
}

.dashb-text{
    color: rgb(238, 238, 238) !important;
}

.dashb-text .MuiSvgIcon-root {
    color: rgb(238, 238, 238) !important;
}

.dashboard-home .MuiListItem-root:hover {
    background-color:rgb(60, 78, 104) !important;
}

#dashb-draw-title {
    color: rgb(238, 238, 238);
    margin: auto;
    margin-top: 2vh;
    text-align: center;
}

#dashb-sub{
    color: white;
}

#dash-table .MuiTableCell-body, #dash-table .MuiTableCell-head {
    color: white;
}

.dash-class-cell:hover{
    background-color: rgb(60, 78, 104);
    transition: 0.3s;
    cursor: pointer;
}

#dash-todo:hover{
    background-color: rgb(136, 143, 143);
    transition: 0.3s;
    cursor: pointer;
}

.darkmodal{
    margin-top: 15vh;
    background-color: rgb(60, 78, 104);
}

.darkmodal .modal-header, .darkmodal .modal-body, .darkmodal .modal-footer, .darkmodal .close{
    background-color: rgb(46, 62, 82);
    color: white;
}

.darkmodal .form-control{
    margin-bottom: 1vh;
}